*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEE;
}

.top{
    height: 30vh;
    width: 100%;

    display: flex;
    
    .galeria_container{
        background-color:cornsilk;
        height: 100%;
        width: 100%;
    }
}


.middle{
    height: 40vh;
    width: 100%;
}

.bottom{
    height: 30vh;
    width: 100%;

    display: flex;
    
    .galeria_container{
        background-color:#BBB;
        height: 100%;
        width: 100%;
    }
}

.cuadradinho{
    background-color: lightskyblue;
    height: 100%;
    aspect-ratio: 1 / 1;
}